# Bytecode & caches
__pycache__/
*.py[cod]
*$py.class

# Env/secrets
.env
.venv/
env/
(DocuMentor)/

# Data (large)
data/raw/
data/processed/
data/benchmark/
results/
notebooks/*.ipynb_checkpoints

# Logs/OS
*.log
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
